/* Global Stylesheet */
body {
	overflow-y: scroll;
	overflow-x: hidden;
}
p {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 180%;
	/* or 36px */
}
.body-container {
	background: #e5e5e5;
}
@media only screen and (max-width: 600px) {
	p {
		font-size: smaller;
		line-height: 300%;
	}
}
